* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
 	background-color: var(--bg-color);
 	color: var(--body-color);
  transition:
    background-color .6s,
    border-color .6s,
    color .6s;
  margin:0;
  padding:0;
  line-height: 1.5;
}

a:not(.button):not(.post-tags__link):not(.portfolio-tags__link):not(.link):not(.search__result) {
  color: var(--link-color);
  text-decoration-color: var(--link-color);
  transition:
    text-decoration-thickness 200ms ease-out,
    text-underline-offset 200ms ease-out,
    text-decoration-color 200ms ease-out,
    color 200ms ease-out,
    opacity 200ms ease-out;

  &:visited {
    color: var(--link-visited-color);
  }

  &:hover,
  &:focus,
  &:active {
    opacity: .7;
    text-decoration-color: var(--link-color);
  }

  @supports (text-decoration-thickness: 1em) {
    text-decoration-thickness: 0.1rem;
    text-underline-offset: 0.125rem;
    text-decoration-skip-ink: none;

    &:visited {
      color: var(--link-visited-color);
      text-decoration-color: var(--link-visited-color);
    }

    &:hover,
    &:focus,
    &:active {
      color: var(--bg-color);
      text-decoration-color: var(--link-color);
      text-decoration-thickness: 1.125rem;
      text-underline-offset: -0.875rem;
    }
  }
}

img {
	max-width: 100%;
}

input {
  background: var(--bg-content-color);
  border-color: var(--title-color);
  border-radius: var(--radius);
  border-width: 2px;
  color: var(--title-color);
  padding: .3rem .5rem;
  transition: border-color .6s;

  &:hover {
    border-color: var(--body-color);
  }
}
