code[class*="language-"],
pre[class*="language-"] {
  color: #393A34;
  font-family: var(--global-font-family-monospace);
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  font-size: .85em;
  line-height: 1.2;
  tab-size:4;
  hyphens: none;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  background: #C1DEF1;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 1.5em 0;
  overflow-x: auto;
  overflow-y: hidden;
  border: 1px solid #dddddd;
  background-color: white;
  border-radius: var(--global-border-radius);
  scrollbar-color: var(--scroll-thumb-color) var(--scroll-track-color);
}

/* Inline code */
:not(pre) > code {
  padding: 1px .3em;
  background: hsla(210, 13, 12, 0.05);
  border-radius: var(--global-border-radius);
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #008000;
  font-style: italic;
}

.token.namespace {
  opacity: .7;
}

.token.string {
  color: #A31515;
}

.token.punctuation,
.token.operator {
  color: #393A34; /* no highlight */
}

.token.url,
.token.symbol,
.token.number,
.token.boolean,
.token.variable,
.token.constant,
.token.inserted {
  color: #36acaa;
}

.token.atrule,
.token.keyword,
.token.attr-value,
.language-autohotkey .token.selector,
.language-json .token.boolean,
.language-json .token.number,
code[class*="language-css"] {
  color: #0000ff;
}

.token.function {
  color: #393A34;
}

.token.deleted,
.language-autohotkey .token.tag {
  color: #9a050f;
}

.token.selector,
.language-autohotkey .token.keyword {
  color: #00009f;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.class-name,
.language-json .token.property {
  color: #2B91AF;
}

.token.tag,
.token.selector {
  color: #800000;
}

.token.attr-name,
.token.property,
.token.regex,
.token.entity {
  color: #ff0000;
}

.token.directive.tag .tag {
  background: #ffff00;
  color: #393A34;
}

// Code Title
.code-title {
  font-family: var(--global-font-family-monospace);
  font-size: 0.8em;
  margin-bottom: -1em;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  position: relative;
}

// Line Numbers
pre[class*="language-"].line-numbers {
  position: relative;
  padding-left: 3.7em;
  counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
  position: relative;
  white-space: inherit;
}

.line-numbers .line-numbers-rows {
  border-right: 1px solid #a5a5a5;
  font-size: 100%;
  left: -3.8em;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 3em; /* works for line-numbers below 1000 lines */
  user-select: none;
  padding-top: 1em;
  padding-bottom: 1em;
}

.line-numbers-rows > span {
  display: block;
  counter-increment: linenumber;
  pointer-events: none;
}

.line-numbers-rows > span:before {
  color: #2B91AF;
  content: counter(linenumber);
  display: block;
  padding-left: 1em;
  padding-right: 0.5em;
  text-align: right;
}

// Line Highlight
.gridsome-highlight-code-line {
  background: rgba(193, 222, 241, 0.3);
  background: linear-gradient(to right, rgba(193, 222, 241, 0.3) 80%, rgba(221, 222, 241, 0));
  display: block;
  margin-left: -0.25em;
  padding-top: 0.16em;
  border-left: 0.25em solid rgba(193, 222, 241, 1);
}

body[data-theme="dark"] {
  code[class*="language-"],
  pre[class*="language-"] {
    color:#f8f8f2;
    text-shadow:0 1px rgba(0,0,0,.3);
  }

  pre[class*="language-"]::selection,
  pre[class*="language-"] ::selection,
  code[class*="language-"]::selection,
  code[class*="language-"] ::selection {
    background: rgb(106, 108, 109);
  }

  /* Code blocks */
  pre[class*="language-"] {
    padding: 1em;
    margin: 1.5em 0;
    border: 1px solid #4C4C4C;
    background-color: #272822;
    scrollbar-color: var(--scroll-thumb-color) var(--scroll-track-color);
  }

  /* Inline code */
  :not(pre) > code {
    background: hsla(210, 13, 80, 0.1);
  }
  .token.cdata,
  .token.comment,
  .token.doctype,
  .token.prolog {
   color:#708090
  }
  .token.punctuation {
   color:#f8f8f2
  }
  .token.constant,
  .token.deleted,
  .token.property,
  .token.symbol,
  .token.tag {
   color:#f92672
  }
  .token.boolean,
  .token.number {
   color:#ae81ff
  }
  .token.attr-name,
  .token.builtin,
  .token.char,
  .token.inserted,
  .token.selector,
  .token.string {
   color:#a6e22e
  }
  .language-css .token.string,
  .style .token.string,
  .token.entity,
  .token.operator,
  .token.url,
  .token.variable {
   color:#f8f8f2
  }
  .token.atrule,
  .token.attr-value,
  .token.class-name,
  .token.function {
   color:#e6db74
  }
  .token.keyword {
   color:#66d9ef
  }
  .token.important,
  .token.regex {
   color:#fd971f
  }

  // Line Numbers
  pre[class*="language-"].line-numbers {
    position: relative;
    padding-left: 3.7em;
    counter-reset: linenumber;
  }
}
