code[class*="language-"],
pre[class*="language-"] {
  --code-line-height: 1.2;

  color: hsl(70, 5%, 22%);
  font-family: var(--global-font-family-monospace);
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  font-size: var(--global-font-size-1);
  line-height: var(--code-line-height);
  tab-size:4;
  hyphens: none;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection {
  background: hsl(204, 63%, 85%);
  color: unset;
}

:not(pre) > code ::selection {
  background: var(--global-selection-background-color);
  color: var(--global-selection-body-color);
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 1.5em 0;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: hsl(0, 0%, 100%);
  border: var(--global-border-width-1) solid hsl(0, 0%, 87%);
  border-radius: var(--global-border-radius);
  transition: background-color var(--global-duration-3) ease-out, border-color var(--global-duration-3) ease-out, color var(--global-duration-3) ease-out;
}

/* Inline code */
:not(pre) > code {
  padding: .05rem .25rem;
  background: hsla(210, 13, 12, 0.05);
  border-radius: var(--global-border-radius);
  transition: background-color var(--global-duration-3) ease-out, color var(--global-duration-3) ease-out;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: hsl(120, 100%, 25%);
  font-style: italic;
}

.token.namespace {
  opacity: .7;
}

.token.string {
  color: hsl(0, 77%, 36%);
}

.token.punctuation,
.token.operator {
  color: hsl(70, 5%, 22%); /* no highlight */
}

.token.url,
.token.symbol,
.token.number,
.token.boolean,
.token.variable,
.token.constant,
.token.inserted {
  color: hsl(179, 52%, 44%);
}

.token.atrule,
.token.keyword,
.token.attr-value,
.language-autohotkey .token.selector,
.language-json .token.boolean,
.language-json .token.number,
code[class*="language-css"] {
  color: hsl(240, 100%, 50%);
}

.token.function {
  color: hsl(70, 5%, 22%);
}

.token.deleted,
.language-autohotkey .token.tag {
  color: hsl(356, 94%, 31%);
}

.token.selector,
.language-autohotkey .token.keyword {
  color: hsl(240, 100%, 31%);
}

.token.important,
.token.bold {
  font-weight: var(--global-font-weight-bold);
}

.token.italic {
  font-style: italic;
}

.token.class-name,
.language-json .token.property {
  color: hsl(194, 61%, 43%);
}

.token.tag,
.token.selector {
  color: hsl(0, 100%, 25%);
}

.token.attr-name,
.token.property,
.token.regex,
.token.entity {
  color: hsl(0, 100%, 50%);
}

.token.directive.tag .tag {
  background: hsl(60, 100%, 50%);
  color: hsl(70, 5%, 22%);
}

// Code Title
.code-title {
  font-family: var(--global-font-family-monospace);
  font-size: var(--global-font-size-1);
  margin-bottom: -1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  position: relative;
}

// Line Numbers
pre[class*="language-"].line-numbers {
  position: relative;
  padding-left: 3.15rem;
  counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
  position: relative;
  white-space: inherit;
}

.line-numbers .line-numbers-rows {
  border-right: var(--global-border-width-1) solid hsl(0, 0%, 65%);
  font-size: 100%;
  left: -3.8em;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 3em; /* works for line-numbers below 1000 lines */
  user-select: none;
  padding-top: 1em;
  padding-bottom: 1em;
}

.line-numbers-rows > span {
  display: block;
  counter-increment: linenumber;
  pointer-events: none;
}

.line-numbers-rows > span:before {
  color: hsl(194, 61%, 43%);
  content: counter(linenumber);
  display: block;
  padding-left: 1em;
  padding-right: 0.5em;
  text-align: right;
}

// Line Highlight
.gridsome-highlight-code-line {
  background: hsla(204, 63%, 85%, 0.3);
  background: linear-gradient(to right, hsla(204, 63%, 85%, 0.3) 80%, hsla(237, 42%, 91%, 0));
  display: block;
  margin-left: -0.25em;
  padding-top: 0.16em;
  border-left: var(--global-border-width-3) solid hsl(204, 63%, 85%);
}

[data-theme="dark"] {
  code[class*="language-"],
  pre[class*="language-"] {
    color:hsl(60, 30%, 96%);
    text-shadow:0 1px hsla(0, 0%, 0%, 0.3);
  }

  pre[class*="language-"]::selection,
  pre[class*="language-"] ::selection,
  code[class*="language-"]::selection,
  code[class*="language-"] ::selection {
    background: hsl(200, 1%, 42%);
    color: unset;
  }

  /* Code blocks */
  pre[class*="language-"] {
    padding: 1em;
    margin: 1.5em 0;
    border: var(--global-border-width-1) solid hsl(0, 0%, 30%);
    background-color: hsl(70, 8%, 15%);
  }

  /* Inline code */
  :not(pre) > code {
    background: hsla(210, 13, 80, 0.1);
  }
  .token.cdata,
  .token.comment,
  .token.doctype,
  .token.prolog {
   color:hsl(210, 13%, 50%)
  }
  .token.punctuation {
   color:hsl(60, 30%, 96%)
  }
  .token.constant,
  .token.deleted,
  .token.property,
  .token.symbol,
  .token.tag {
   color:hsl(338, 95%, 56%)
  }
  .token.boolean,
  .token.number {
   color:hsl(261, 100%, 75%)
  }
  .token.attr-name,
  .token.builtin,
  .token.char,
  .token.inserted,
  .token.selector,
  .token.string {
   color:hsl(80, 76%, 53%)
  }
  .language-css .token.string,
  .style .token.string,
  .token.entity,
  .token.operator,
  .token.url,
  .token.variable {
   color:hsl(60, 30%, 96%)
  }
  .token.atrule,
  .token.attr-value,
  .token.class-name,
  .token.function {
   color:hsl(54, 70%, 68%)
  }
  .token.keyword {
   color:hsl(190, 81%, 67%)
  }
  .token.important,
  .token.regex {
   color:hsl(32, 98%, 56%)
  }

  // Line Numbers
  pre[class*="language-"].line-numbers {
    position: relative;
    padding-left: 3.15rem;
    counter-reset: linenumber;
  }
}


// PowerShell
code[class*="language-powershell"],
pre[class*="language-powershell"],
[data-theme="dark"] code[class*="language-powershell"],
[data-theme="dark"] pre[class*="language-powershell"] {
  background-color: hsl(215, 98%, 17%);
  color:#ffffff;

  .token.cdata,
  .token.comment,
  .token.doctype,
  .token.prolog {
    color:hsl(129, 79%, 35%);
  }
  .token.punctuation {
    color:#ffffff
  }
  .token.constant,
  .token.deleted,
  .token.property,
  .token.symbol,
  .token.tag {
    color:hsl(338, 95%, 56%)
  }
  .token.number {
    color:hsl(0, 0%, 100%);
  }
  .token.boolean {
    color:hsl(118, 88%, 41%);
  }
  .token.attr-name,
  .token.builtin,
  .token.char,
  .token.inserted,
  .token.selector,
  .token.string {
    color:hsl(194, 51%, 46%);
  }
  .language-css .token.string,
  .style .token.string,
  .token.entity,
  .token.operator,
  .token.url,
  .token.variable {
    color:hsl(0, 0%, 100%);
  }
  .token.atrule,
  .token.attr-value,
  .token.class-name,
  .token.function {
    color:hsl(0, 0%, 100%);
  }
  .token.keyword {
    color:hsl(190, 81%, 67%)
  }
  .token.important,
  .token.regex {
    color:hsl(32, 98%, 56%)
  }
}
pre[class*="language-powershell"]::selection,
pre[class*="language-powershell"] ::selection,
code[class*="language-powershell"]::selection,
code[class*="language-powershell"] ::selection {
  background: hsl(35, 98%, 83%);
}
