.custom-block {
  margin: 1.2rem 0;

  .custom-block-title {
    font-weight: var(--global-font-weight-semi-bold);
    line-height: var(--global-line-height-2);
  }

  p {
    margin-bottom: 0;
  }

  &.tip, &.warning, &.danger {
    padding: 1rem 1.4rem;
    border-left-width: var(--global-border-width-4);
    border-left-style: solid;
  }

  &.tip {
    background-color: var(--bg-color);
    border-color: #42b983;
  }

  &.warning {
    background-color: rgba(255,229,100,.3);
    border-color: darken(#ffe564, 35%);
    color: darken(#ffe564, 70%);

    .custom-block-title {
      color: darken(#ffe564, 50%);
    }
  }

  &.danger {
    background-color: #ffe6e6;
    border-color: darken(red, 20%);
    color: darken(red, 70%);

    .custom-block-title {
      color: darken(red, 40%);
    }
  }

  &.details {
    background-color: var(--bg-color);
    display: block;
    padding: 1rem 1.4rem;
    position: relative;

    summary {
      cursor: pointer;
      outline: none;
    }
  }

}

body[data-theme="dark"] {
  .custom-block {
    &.warning {
      background-color: rgba(233, 194, 0, 0.3);
      color: var(--title-color);

      .custom-block-title {
        color: var(--title-color);
      }
    }

    &.danger {
      background-color: #300000;
      color: var(--title-color);

      .custom-block-title {
        color: var(--title-color);
      }
    }
  }
}
