.custom-block {
  margin: 1.2rem 0;

  .custom-block-title {
    font-weight: var(--global-font-weight-semi-bold);
    line-height: var(--global-line-height-2);
  }

  p {
    margin-bottom: 0;
  }

  &.tip, &.warning, &.danger {
    padding: 1rem 1.4rem;
    border-left-width: var(--global-border-width-4);
    border-left-style: solid;
  }

  &.tip {
    background-color: var(--bg-color);
    border-color: hsl(153, 47%, 49%);
  }

  &.warning {
    background-color: hsla(50, 100%, 70%, 0.3);
    border-color: darken(hsl(50, 100%, 70%), 35%);
    color: darken(hsl(50, 100%, 70%), 70%);

    .custom-block-title {
      color: darken(hsl(50, 100%, 70%), 50%);
    }
  }

  &.danger {
    background-color: #ffe6e6;
    border-color: darken(hsl(0, 100%, 50%), 20%);
    color: darken(hsl(0, 100%, 50%), 70%);

    .custom-block-title {
      color: darken(hsl(0, 100%, 50%), 40%);
    }
  }

  &.details {
    background-color: var(--bg-color);
    display: block;
    padding: 1rem 1.4rem;
    position: relative;

    summary {
      cursor: pointer;
      outline: none;
    }
  }

}

body[data-theme="dark"] {
  .custom-block {
    &.warning {
      background-color: hsla(50, 100%, 46%, 0.3);
      color: var(--title-color);

      .custom-block-title {
        color: var(--title-color);
      }
    }

    &.danger {
      background-color: hsl(0, 100%, 9%);
      color: var(--title-color);

      .custom-block-title {
        color: var(--title-color);
      }
    }
  }
}
