* {
  margin: 0;
  padding: 0;
}

img,
picture,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  max-width: 100%;
}
img,
picture,
svg,
video,
canvas {
  height: auto;
}
audio {
  width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
dl,
dt,
blockquote {
  overflow-wrap: break-word;
}
