:root {
  // Breakpoints
  $global-breakpoint-xs: 0;
  $global-breakpoint-sm: 36rem; // 576px
  $global-breakpoint-md: 48rem; // 768px
  $global-breakpoint-lg: 62rem; // 992px
  $global-breakpoint-xl: 75rem; // 1200px
  $global-breakpoint-xxl: 100rem; // 1600px

  // Border Radius
  --global-border-radius: 0.25rem;

  // Border Width
  --global-border-width-0: 0;
  --global-border-width-1: 0.05rem; // 1px
  --global-border-width-2: 0.1rem; // 2px
  --global-border-width-3: 0.2rem; // 4px
  --global-border-width-4: 0.3rem; // 6px
  --global-border-width-5: 0.4rem; // 8px

  // Box Shadows
  --global-shadow-1: 0px 2px 4px rgba(37, 37, 37, 0.1);
  --global-shadow-2: 0px 4px 8px rgba(37, 37, 37, 0.1);
  --global-shadow-3: 0px 8px 16px rgba(37, 37, 37, 0.1);
  --global-shadow-4: 0px 16px 24px rgba(37, 37, 37, 0.1);
  --global-shadow-5: 0px 24px 32px rgba(37, 37, 37, 0.1);

  // Duration
  --global-duration-1: 200ms;
  --global-duration-2: 300ms;
  --global-duration-3: 600ms;

  // Easing
  --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ease-in-sine: cubic-bezier(0.47, 0, 0.745, 0.715);
  --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  --ease-in-back: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-out-sine: cubic-bezier(0.39, 0.575, 0.565, 1);
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
  --ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
  --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
  --ease-in-out-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
  --ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  --ease-in-out-back: cubic-bezier(0.68, -0.55, 0.265, 1.55);

  // Font Family
  --global-font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --global-font-family-serif: "Georgia", serif;
  --global-font-family-monospace: "Cascadia Code", "Cascadia Code PL",
    "Fira Code", Consolas, SFMono-Regular, Menlo, Monaco, "Liberation Mono",
    "Courier New", monospace;
  --global-font-family-heading: "Audiowide", sans-serif;

  // Fluid Font Size
  $global-font-size-minimum: 1em; // 16px
  $global-font-size-maximum: 1.25em; // 20px
  --global-font-size-minimum: #{$global-font-size-minimum};
  --global-font-size-maximum: #{$global-font-size-maximum};
  @include fluid-type(
    --global-font-size-default,
    36em,
    // $global-breakpoint-sm,
    100em,
    // $global-breakpoint-xxl,
    $global-font-size-minimum,
    $global-font-size-maximum
  );

  // Font Size
  --global-font-size-0: 0.65em;
  --global-font-size-1: 0.85em;
  --global-font-size-2: 1em;
  --global-font-size-3: 1.125em;
  --global-font-size-4: 1.266em;
  --global-font-size-5: 1.424em;
  --global-font-size-6: 1.602em;
  --global-font-size-7: 1.802em;
  --global-font-size-8: 2.5em;

  // Font Weight
  --global-font-weight-light: 300;
  --global-font-weight-normal: 400;
  --global-font-weight-semi-bold: 600;
  --global-font-weight-bold: 700;

  // Line Height
  --global-line-height-1: 1.58;
  --global-line-height-2: 1.7;

  // Line Length
  --global-line-length-min: 45ch;
  --global-line-length-ideal: 66ch;
  --global-line-length-max: 75ch;
  @media screen and (max-width: $global-breakpoint-sm) {
    --global-line-length-min: 0;
  }

  // Content Width
  --global-content-width-maximum: 45rem;

  // Space
  @include fluid-type(
    --global-space-fluid-6,
    $global-breakpoint-sm,
    $global-breakpoint-xxl,
    1.5rem,
    4.5rem
  );
  --global-space-fluid--7: calc(var(--global-space-fluid-7) * -1);
  --global-space-fluid--6: calc(var(--global-space-fluid-6) * -1);
  --global-space-fluid--5: calc(var(--global-space-fluid-5) * -1);
  --global-space-fluid--4: calc(var(--global-space-fluid-4) * -1);
  --global-space-fluid--3: calc(var(--global-space-fluid-3) * -1);
  --global-space-fluid--2: calc(var(--global-space-fluid-2) * -1);
  --global-space-fluid--1: calc(var(--global-space-fluid-1) * -1);
  --global-space-fluid-1: calc(var(--global-space-fluid-6) / 16);
  --global-space-fluid-2: calc(var(--global-space-fluid-6) / 8);
  --global-space-fluid-3: calc(var(--global-space-fluid-6) / 4);
  --global-space-fluid-4: calc(var(--global-space-fluid-6) / 3);
  --global-space-fluid-5: calc(var(--global-space-fluid-6) / 2);
  --global-space-fluid-7: calc(var(--global-space-fluid-6) * 2);

  --global-space-fixed-6: 3rem;
  --global-space-fixed--7: calc(var(--global-space-fixed-7) * -1);
  --global-space-fixed--6: calc(var(--global-space-fixed-6) * -1);
  --global-space-fixed--5: calc(var(--global-space-fixed-5) * -1);
  --global-space-fixed--4: calc(var(--global-space-fixed-4) * -1);
  --global-space-fixed--3: calc(var(--global-space-fixed-3) * -1);
  --global-space-fixed--2: calc(var(--global-space-fixed-2) * -1);
  --global-space-fixed--1: calc(var(--global-space-fixed-1) * -1);
  --global-space-fixed-1: calc(var(--global-space-fixed-6) / 16);
  --global-space-fixed-2: calc(var(--global-space-fixed-6) / 8);
  --global-space-fixed-3: calc(var(--global-space-fixed-6) / 4);
  --global-space-fixed-4: calc(var(--global-space-fixed-6) / 3);
  --global-space-fixed-5: calc(var(--global-space-fixed-6) / 2);
  --global-space-fixed-7: calc(var(--global-space-fixed-6) * 2);

  --global-space-main: calc(var(--global-space-fluid-6) * 2.7);
  @media screen and (max-width: 576px) {
    // $global-breakpoint-sm
    --global-space-main: 0;
  }

  --global-space-content-max-width: calc(
    var(--global-space-fluid-6) * 2 + var(--global-line-length-max)
  );
  --global-space-content-min-width: calc(
    var(--global-space-fluid-6) * 2 + var(--global-line-length-min)
  );
  @media screen and (max-width: 576px) {
    // $global-breakpoint-sm
    --global-space-content-min-width: calc(var(--global-space-fluid-6) * 2);
  }
}

// Light theme
[data-theme="light"] {
  --global-accent-color: hsl(264, 82%, 50%);
  --global-alternate-accent-color: hsl(254, 100%, 87%);
  --global-background-color: hsl(216, 24%, 98%);
  --global-content-background-color: hsl(0, 0%, 100%);
  --global-border-color: hsla(0, 0%, 0%, 0.1);
  --global-body-color: hsl(0, 0%, 27%);
  --global-title-color: hsl(0, 0%, 7%);
  --global-disabled-color: hsla(0, 0%, 0%, 0.1);
  --global-placeholder-color: hsl(210, 8%, 67%);

  // Link
  --global-link-color: hsl(264, 82%, 50%);
  --global-link-visited-color: hsl(264, 61%, 35%);

  // Selection
  --global-selection-background-color: hsl(264, 82%, 50%);
  --global-selection-body-color: hsl(216, 24%, 96%);

  // Scroll
  --global-scroll-thumb-color: hsl(0, 0%, 100%);
  --global-scroll-track-color: hsl(0, 0%, 87%);

  // Info
  --global-info-background-color: var(--global-background-color);
  --global-info-border-color: hsl(153, 47%, 49%);
  --global-info-body-color: var(--global-body-color);
  --global-info-title-color: var(--global-title-color);

  // Warning
  --global-warning-background-color: hsla(50, 100%, 70%, 0.3);
  --global-warning-border-color: hsl(50, 100%, 35%);
  --global-warning-body-color: hsl(0, 0%, 0%);
  --global-warning-title-color: hsl(50, 100%, 20%);

  // Danger
  --global-danger-background-color: hsl(0, 100%, 95%);
  --global-danger-border-color: hsl(0, 100%, 30%);
  --global-danger-body-color: hsl(0, 0%, 0%);
  --global-danger-title-color: hsl(0, 100%, 10%);
}

// Dark theme
[data-theme="dark"] {
  --global-accent-color: hsl(254, 100%, 87%);
  --global-alternate-accent-color: hsl(264, 82%, 50%);
  --global-background-color: hsl(207, 62%, 14%);
  --global-content-background-color: hsl(206, 64%, 16%);
  --global-border-color: hsla(0, 0%, 100%, 0.1);
  --global-body-color: hsl(203, 20%, 90%);
  --global-title-color: hsl(0, 0%, 100%);
  --global-disabled-color: hsla(0, 0%, 100%, 0.1);
  --global-placeholder-color: hsl(210, 8%, 67%);

  // Link
  --global-link-color: hsl(254, 100%, 87%);
  --global-link-visited-color: hsl(254, 46%, 69%);

  // Scroll
  --global-scroll-thumb-color: hsl(70, 8%, 15%);
  --global-scroll-track-color: hsl(0, 0%, 30%);

  // Selection
  --global-selection-background-color: hsl(254, 100%, 87%);
  --global-selection-body-color: hsl(216, 24%, 96%);

  // Info
  --global-info-background-color: var(--global-background-color);
  --global-info-border-color: hsl(153, 47%, 49%);
  --global-info-body-color: var(--global-body-color);
  --global-info-title-color: var(--global-title-color);

  // Warning
  --global-warning-background-color: hsla(50, 100%, 46%, 0.3);
  --global-warning-border-color: hsl(50, 100%, 35%);
  --global-warning-body-color: var(--global-title-color);
  --global-warning-title-color: var(--global-title-color);

  // Danger
  --global-danger-background-color: hsl(0, 100%, 9%);
  --global-danger-border-color: hsl(0, 100%, 30%);
  --global-danger-body-color: var(--global-title-color);
  --global-danger-title-color: var(--global-title-color);
}
