// Default
:root {
  // Border Radius
  --global-border-radius: .25rem;

  // Border Width
  --global-border-width-0: 0;
  --global-border-width-1: .05rem;
  --global-border-width-2: .1rem;
  --global-border-width-3: .2rem;
  --global-border-width-4: .4rem;

  // Font Family
  --global-font-family-default: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --global-font-family-monospace: 'Cascadia Code', 'Cascadia Code PL', 'Fira Code', Consolas, SFMono-Regular, Menlo, Monaco, 'Liberation Mono', 'Courier New', monospace;
  --global-font-family-heading: 'Audiowide', sans-serif;

  // Font Size
  --base-font-size: 1.25em;

  // Font Weight
  --global-font-weight-light: 300;
  --global-font-weight-normal: 400;
  --global-font-weight-semi-bold: 600;
  --global-font-weight-bold: 700;

  // Line Height
  --global-line-height-1: 1.58;
  --global-line-height-2: 1.7;

  --space: 3.5rem;
  --content-width: 45rem;
}

// Light theme
body {
 	--bg-color: #F2F4F7;
 	--bg-content-color: #fff;
 	--bg-code: #fffbf3;
 	--body-color: #444;
 	--title-color: #111;
 	--link-color: #6b17e6;
 	--link-visited-color: #4f2391;
  --border-color: rgba(0,0,0,.1);
  --scroll-thumb-color: white;
  --scroll-track-color: #dddddd;
}

// Dark theme
body[data-theme='dark'] {
 	--bg-color: #0D2538;
 	--bg-content-color: #0f2d44;
 	--bg-code: rgba(0,0,0,.3);
 	--body-color: #ced8de;
  --title-color: #fff;
  --link-color: #cbbbff;
  --link-visited-color: #9d8cd4;
  --border-color: rgba(255,255,255,.1);
  --scroll-thumb-color: #272822;
  --scroll-track-color: #4C4C4C;
}

// Mobile View
@media screen and (max-width: 650px) {
	* {
    --base-font-size: 1.1em;

		--space: 1.5rem;
	}
}
