kbd {
  background: hsl(0 0% 93%);
  border-radius: var(--global-border-radius);
  box-shadow: 1px 1px 1px hsl(0 0% 47%);
  color: hsl(0 0% 33%);
  display: inline-block;
  font-family: var(--global-font-family-monospace);
  font-size: var(--global-font-size-0);
  font-variant: small-caps;
  font-weight: var(--global-font-weight-semi-bold);
  letter-spacing: 0.05rem;
  line-height: var(--global-line-height-1);
  margin: 0.1rem;
  padding: 0 0.25rem;
  vertical-align: text-bottom;
}
