@use "sass:math";
@use "functions";

$font-size-minimum: 1em; // 16px
$font-size-maximum: 1.25em; // 20px

@mixin fluid-type($variable, $min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: math.unit($min-vw);
  $u2: math.unit($max-vw);
  $u3: math.unit($min-font-size);
  $u4: math.unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      #{$variable}: $min-font-size;
      @media (min-width: $min-vw) {
        #{$variable}: calc(
          #{$min-font-size} + #{functions.strip-unit(
              $max-font-size - $min-font-size
            )} *
            math.div(
              100vw - #{$min-vw},
              #{functions.strip-unit($max-vw - $min-vw)}
            )
        );
      }
      @media (min-width: $max-vw) {
        #{$variable}: $max-font-size;
      }
    }
  }
}

// Word wrap text
@mixin word-wrap($hyphens: false) {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  @if ($hyphens) {
    hyphens: auto;
  }
}

// Don't wrap text and show an ellipses instead
@mixin ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
