a {
  cursor: pointer;
  color: var(--global-link-color);
  text-decoration-color: var(--global-link-color);
  transition: color var(--global-duration-3) var(--ease-in-out-cubic),
    text-decoration-color var(--global-duration-3) var(--ease-in-out-cubic);

  &:visited {
    color: var(--global-link-visited-color);
    text-decoration-color: var(--global-link-visited-color);
  }

  &:not([href]),
  &[href=""] {
    text-decoration: none;
  }
}

@media print {
  a[href^="http"]:after {
    content: " (" attr(href) ")";
  }
}
