blockquote {
  border-left: var(--global-border-width-4) solid var(--global-border-color);
  color: var(--global-title-color);
  line-height: var(--global-line-height-2);
  margin-block-end: var(--global-space-fixed-5);
  padding-top: var(--global-space-fixed-2);
  padding-left: var(--global-space-fixed-5);
  padding-bottom: var(--global-space-fixed-2);
  quotes: none;

  p:last-of-type {
    margin-block-end: 0;
  }

  cite {
    display: block;
    font-style: italic;

    &:before {
      content: "—";
      margin-inline-end: 5px;
    }
  }
}
