blockquote {
  border-left: var(--global-border-width-3) solid var(--global-border-color);
  color: var(--global-title-color);
  line-height: var(--global-line-height-2);
  margin-bottom: var(--global-space-fixed-5);
  padding-left: var(--global-space-fluid-4);
quotes: "“" "”" "‘" "’";
  p:last-of-type {
    margin-bottom: 0;
  }

  cite {
    display: block;
    font-style: italic;

    &:before {
      content: '—';
      margin-right: 5px;
    }
  }
}
