blockquote {
  border-left: var(--global-border-width-3) solid var(--global-border-color);
  color: var(--global-title-color);
  line-height: var(--global-line-height-2);
  padding-left: var(--global-space-fluid-5);
}
