body {
  background-color: var(--bg-color);
  color: var(--body-color);
  font-family: var(--global-font-family-default);
  font-weight: var(--global-font-weight-normal);
  line-height: var(--global-line-height-1);
  transition:
    background-color var(--global-duration-3),
    border-color var(--global-duration-3),
    color var(--global-duration-3);
}
