body {
  background-color: var(--global-background-color);
  color: var(--global-body-color);
  font-family: var(--global-font-family-sans-serif);
  font-weight: var(--global-font-weight-normal);
  line-height: var(--global-line-height-1);
  transition: background-color var(--global-duration-3), border-color var(--global-duration-3), color var(--global-duration-3);
}
