h1, h2, h3, h4, h5, h6 {
  color: var(--global-title-color);
  font-family: var(--global-font-family-heading);
  font-weight: var(--global-font-weight-normal);
  hyphens: auto;
  line-height: var(--global-line-height-1);
  margin-top: var(--global-space-fixed-5);
  margin-bottom: var(--global-space-fixed-4);
  max-width: var(--global-line-length-max);
  transition: color var(--global-duration-3);
  word-break: break-all;
}

h1 {
  font-size: var(--global-font-size-7);
}

h2 {
  font-size: var(--global-font-size-6);
}

h3 {
  font-size: var(--global-font-size-5);
}

h4 {
  font-size: var(--global-font-size-4);
}

h5 {
  font-size: var(--global-font-size-3);
}
