input {
  background: var(--bg-content-color);
  border-color: var(--title-color);
  border-radius: var(--radius);
  border-width: 2px;
  color: var(--title-color);
  font-family: var(--base-font-family);
  padding: .3rem .5rem;
  transition: border-color .6s;

  &:hover {
    border-color: var(--body-color);
  }
}
