input {
  background: var(--bg-content-color);
  border: var(--global-border-width-2) solid var(--title-color);
  border-radius: var(--global-border-radius);
  color: var(--title-color);
  font-family: var(--global-font-family-default);
  padding: .3rem .5rem;
  transition: border-color .6s;

  &:hover {
    border-color: var(--body-color);
  }
}
