ol {
  list-style-type: decimal;
  margin-left: var(--global-space-fixed-5);
  margin-bottom: var(--global-space-fixed-5);

  li, p, ul, ol {
    margin-bottom: var(--global-space-fixed-3);
    margin-top: var(--global-space-fixed-3);
  }

  li:first-child {
    margin-top: 0;
  }

  li::marker {
    color: var(--global-accent-color);
  }
}
