table {
  color: var(--title-color);
  background-color: var(--bg-content-color);
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  margin-bottom: 1.5rem;
  overflow: auto;
  width: 100%;

  thead {
    font-weight: var(--global-font-weight-semi-bold);
  }

  tr {
    border-top: var(--global-border-width-1) solid var(--border-color);
  }

  tr:nth-child(2n) {
    background-color: var(--bg-color);
  }

  th,
  td {
    border: var(--global-border-width-1) solid var(--border-color);
    padding: .5rem .8rem .5rem .8rem;
  }

  tbody {
    vertical-align: inherit;
  }

  thead th {
    vertical-align: bottom;
  }

  tbody tr {
    &:hover {
      background-color: var(--bg-color);
      color: var(--title-color);
    }
  }
}
