ul {
  list-style-type: disc;
  margin-inline-start: var(--global-space-fixed-5);
  margin-block-end: var(--global-space-fixed-5);

  li,
  p,
  ul,
  ol {
    margin-block: var(--global-space-fixed-3);
  }

  li:first-child {
    margin-block-start: 0;
  }

  li::marker {
    color: var(--global-accent-color);
  }
}
